fastapi
pydantic[email]
pymongo
requests
redis
psycopg2
uvicorn
sqlalchemy
pandas
bcrypt
python-jose[cryptography]
passlib[bcrypt]
python-multipart
alembic
python-dotenv
strawberry-graphql[fastapi]
celery
flower
fastapi-mail